@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* Général */

*{
    margin: 0;
    font-family: var(--Newsreader);
}

img{
    border-radius: 12px;
}

:root{
    --Newsreader: "Newsreader", serif;
    --green: #4F966E;
    --grey: #E8F2ED;
    --darkgreen: #0D1C12;
    --lightgreen: #1AE570;
}

a{
    text-decoration: none;
}

a:hover{
    color: #0D1C12;
    transition: all 0.3s ease-in-out;
}

/* Header */

header{
    display: flex;
    margin: auto;
    max-width: 1280px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-bottom: 1px solid var(--grey);
}

header a{
    color: var(--darkgreen);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

header a img{
    width: 40px;
    border-radius: 20px;
}

header div{
    display: flex; 
    gap: 15px;
    align-items: center;
}

header div nav ul li{
    list-style: none;
}

header div nav ul li a{
    font-weight: 400;
}

header div nav ul li a:hover{
    color: var(--lightgreen);
    transition: all 0.3s ease-in-out;
}

header div #click{
    margin-top: 15px;
    border: 1px solid var(--grey);
    border-radius: 20px;
    background-color: var(--grey);
    padding: 10px 15px;
}

header div #click:hover{
    border: var(--lightgreen);
    background-color: var(--lightgreen);
    transition: all 0.3s ease-in-out;
}

header div a img{
    margin-top: 10px;
}

header div nav ul{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Main */

/* Tableaux */

main #formulaire{
    display: grid;
    justify-content: center;
    margin: 20px auto;
    line-height: 45px;
}

main #formulaire #recherche{
    display: flex;
    border: 1px solid var(--grey);
    border-radius: 24px;
    background-color: var(--grey);
    padding: 10px 15px;
    gap: 15px;
}

main #formulaire #recherche #search{
    border: none;
    background-color: transparent;
}

main #formulaire #recherche i{
    color: var(--green);
}

main #formulaire #selection select{
    border: 1px solid var(--grey);
    border-radius: 24px;
    background-color: var(--grey);
    padding: 10px 15px;
    margin-bottom: 20px;
}

main #formulaire #titre{
    font-weight: bold;
    font-size: 32px;
    font-family: var(--Newsreader);
}

main table{
    justify-self: center;
    margin: 20px auto;
    margin-top: 40px;
    border: 1px solid var(--grey);
    border-radius: 12px;
    padding: 10px 15px;
    border-collapse: collapse;
}

#tr1, #td1{
    padding: 6px 9px;
}

#date{
    color: var(--green);
}

#vu a{
    color: var(--green);
    font-weight: bold;
}

#Delete a{
    color: #964F4F;
    font-weight: bold;
}

td,tr{
    border-bottom: 1px solid var(--grey);
    padding: 15px;
}

/* Footer */

footer div{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: center;
    margin: auto;
    max-width: 1280px;
    height: 152px;  
}

footer div a i{
    color: var(--green);
}

footer p{
    margin: auto;
    max-width: 1280px;
    text-align: center;
    color: var(--green);
}

footer p a{
    color: var(--green);
}

footer p a:hover{
    color: var(--darkgreen);
    transition: all 0.3s ease-in-out;
}

