@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* Général */

*{
    margin: 0;
    font-family: var(--Newsreader);
}

img{
    border-radius: 12px;
}

:root{
    --Newsreader: "Newsreader", serif;
    --green: #4F966E;
    --grey: #E8F2ED;
    --darkgreen: #0D1C12;
    --lightgreen: #1AE570;
}

a{
    text-decoration: none;
}

a:hover{
    color: #0D1C12;
    transition: all 0.3s ease-in-out;
}

/* Header */

header{
    display: flex;
    margin: auto;
    max-width: 1280px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-bottom: 1px solid var(--grey);
}

header a{
    color: var(--darkgreen);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

header .formheader{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

header .formheader .barsearch{
    border: 1px solid var(--grey);
    border-radius: 20px;
    padding: 10px 15px;
    background-color: var(--grey);
    color: var(--grey);
}

header .formheader .barsearch #loupe{
    color: var(--green);
}

header .formheader .barsearch #search{
    border: none;
    background-color: (var(--grey));
}

header .formheader .btnheader #btnheader{
    border: 1px solid var(--grey);
    border-radius: 20px;
    background-color: var(--grey);
    padding: 8px 13px;
    color: black;
}

header .formheader .btnheader #btnheader:hover{
    background-color: var(--darkgreen);
    color: var(--grey);
    transition: all 0.3s ease-in-out;
}

/* Section 1 */

main .section1{
    margin: auto;
    max-width: 1440px;
}

main .section1 .background{
    background-image: url(../img/backgroundsection1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 480px;
    width: 928px;
    border-radius: 12px;
    margin-top: 30px;
    color: white;
    background-color: black;
    justify-self: center;
    display: flex;
    margin-bottom: 40px;
}

main .section1 article{
    margin: auto;
    max-width: 848px;
    padding: 0 15px;
    display: grid;
    gap: 10px;
    padding-top: 200px;
}

main .section1 article h1{
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 800;
}

main .section1 article p{
    font-size: 16px;
    font-weight: 400;
}

main .section1 article a{
    border: 1px solid var(--lightgreen);
    border-radius: 24px;
    background-color: var(--lightgreen);
    color: var(--darkgreen);
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
}

main .section1 article a:hover{
    background-color: #0D1C12;
    color: #1AE570;
    transition: all 0.3s ease-in-out;
}

/* Section 2 */

main .section2 .grandediv{
    margin: auto;
    max-width: 1280px;
    display: grid;
    gap: 50px;
}

main .section2 .title{
    margin: 20px auto;
    max-width: 960px;
}

main .section2 .grandediv .petitediv1,
main .section2 .grandediv .petitediv2,
main .section2 .grandediv .petitediv3{
    display: grid;
    grid-template-columns: 40% 40% 20%;
    margin: auto;
    max-width: 960px;
    gap: 15px;
    align-items: center;
}

main .section2 .grandediv h2{
    font-size: 32px;
    font-weight: bold;
    color: var(--darkgreen);
}

main .section2 .grandediv .petitediv1 img,
main .section2 .grandediv .petitediv2 img,
main .section2 .grandediv .petitediv3 img{
    width: -webkit-fill-available;
}

main .section2 .grandediv .petitediv1 p,
main .section2 .grandediv .petitediv2 p,
main .section2 .grandediv .petitediv3 p{
    font-size: 16px;
    color: var(--green);
    line-height: 30px;
}

main .section2 .grandediv .petitediv1 h3,
main .section2 .grandediv .petitediv2 h3,
main .section2 .grandediv .petitediv3 h3{
    font-size: 18px;
    font-weight: bold;
    color: var(--darkgreen);
    margin-bottom: 15px;
}

main .section2 .grandediv .petitediv1 a,
main .section2 .grandediv .petitediv2 a,
main .section2 .grandediv .petitediv3 a{
    border: 1px solid var(--lightgreen);
    border-radius: 16px;
    background-color: var(--lightgreen);
    padding: 10px 15px;
    color: var(--darkgreen);
}

main .section2 .grandediv .petitediv1 #btn,
main .section2 .grandediv .petitediv2 #btn,
main .section2 .grandediv .petitediv3 #btn{
    align-self: end;
}

main .section2 .grandediv .petitediv1 a:hover,
main .section2 .grandediv .petitediv2 a:hover,
main .section2 .grandediv .petitediv3 a:hover{
    background-color: #0D1C12;
    color: #1AE570;
    transition: all 0.3s ease-in-out;
}

/* Footer */

footer div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1280px;
    height: 152px;  
}

footer div a{
    color: var(--green);
}

footer p{
    margin: auto;
    max-width: 1280px;
    text-align: center;
    color: var(--green);
}

footer p a{
    color: var(--green);
}

footer p a:hover{
    color: var(--darkgreen);
    transition: all 0.3s ease-in-out;
}